language: R
sudo: false
cache: packages

addons:
  apt:
    packages:
      - libgsl-dev
      #- libgsl0-dev
      #- libgsl-dev
script:
  - |
    R CMD build .
    travis_wait 100 R CMD check svars_1.1.1.tar.gz
